.input{
  height: 50px;
  width: 750px;
  border-radius: 15px;
  background-color: rgb(138, 49, 49);
  display: flex;
  align-items: center;
  justify-content: center;

}
input{
  background: none;
  border: none;
  margin-left: 12px;
  flex: 1;
}

input:focus{
  outline: none;
}

.addBtn{
  margin-right: 10px;
  border-radius: 7px;
  border: none;
  background-color: #60b1db;
  height: 30px;
  width: 50px;
}

